//############################################################
//
//		Simple Stat Card
//
//############################################################

//--------------------------------------------------------//
//	Styling
//--------------------------------------------------------//
.tile {
	display: block;
	position: absolute;
    top: var(--s-spacing);
    left: var(--s-spacing);
    width: var(--s-width);
    height: var(--s-width);
	box-shadow: var(--e-shadow-1);
	border-radius: var(--s-rounded);

	//	Position
	//--------------------------------------------------------//
	&--x1 { left: calc((var(--s-width) * 1) + (var(--s-spacing) * 2)) !important; }
	&--x2 { left: calc((var(--s-width) * 2) + (var(--s-spacing) * 3)) !important; }
	&--x3 { left: calc((var(--s-width) * 3) + (var(--s-spacing) * 4)) !important; }
	&--x4 { left: calc((var(--s-width) * 4) + (var(--s-spacing) * 5)) !important; }
	&--x5 { left: calc((var(--s-width) * 5) + (var(--s-spacing) * 6)) !important; }

	&--y1 { top: calc((var(--s-width) * 1) + (var(--s-spacing) * 2)) !important; }
	&--y2 { top: calc((var(--s-width) * 2) + (var(--s-spacing) * 3)) !important; }
	&--y3 { top: calc((var(--s-width) * 3) + (var(--s-spacing) * 4)) !important; }
	&--y4 { top: calc((var(--s-width) * 4) + (var(--s-spacing) * 5)) !important; }
	&--y5 { top: calc((var(--s-width) * 5) + (var(--s-spacing) * 6)) !important; }

	//	Size
	//--------------------------------------------------------//
	&--w2 { width: calc((var(--s-width) * 2) + (var(--s-spacing) * 1)) !important; }
	&--w3 { width: calc((var(--s-width) * 3) + (var(--s-spacing) * 2)) !important; }

	&--h2 {
		height: calc((var(--s-width) * 2) + (var(--s-spacing) * 1)) !important;
		.card .card-body { height: calc(((var(--s-width) * 2) + (var(--s-spacing) * 1)) - var(--s-card-header) - var(--s-card-footer)) !important; }
	}

	&--h3 {
		height: calc((var(--s-width) * 3) + (var(--s-spacing) * 2)) !important;
		.card .card-body { height: calc(((var(--s-width) * 3) + (var(--s-spacing) * 1)) - var(--s-card-header) - var(--s-card-footer)) !important; }
	}

	//	Helpers
	//--------------------------------------------------------//
	._centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	._text { color: var(--c-text); }
	._text-sub { color: var(--c-text-sub); }
	._c-1 { color: var(--c-1); }

	//	Setup
	//--------------------------------------------------------//
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		height: 1px;
	    left: 16px;
	    right: 16px;
	    z-index: -1;
	    box-shadow: var(--e-shadow-2);
	}

	.card {
		height: 100%;
		border-radius: var(--s-rounded);
		border-color: var(--c-keyline);
		background-color: var(--c-foreground);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			pointer-events: none;
			transform: rotate(45deg);
			background-color: var(--e-shine);
			width: calc(var(--s-width) * 1.4);
			height: calc(var(--s-width) * 1.4);
			top: calc(-1 * ((var(--s-width) * 1.4) / 2));
			left: calc(-1 * ((var(--s-width) * 1.4) / 2));
		}

		.card-header {
			padding: var(--s-padding);
			text-align: right;
			background: transparent;
			border: 1px solid transparent;
			height: var(--s-card-header);
			color: var(--c-text-sub);
		}

		.card-body {
			padding: 0;
			flex: none;
			position: relative;
			height: calc(var(--s-width) - var(--s-card-header) - var(--s-card-footer));
			transition: color 1s;
			color: var(--c-text);

			&.color {
				&--c-1 { color: var(--c-1); }
				&--c-2 { color: var(--c-2); }
				&--c-3 { color: var(--c-3); }
				&--c-4 { color: var(--c-4); }
				&--c-5 { color: var(--c-5); }
				&--c-6 { color: var(--c-6); }
				&--c-7 { color: var(--c-7); }
				&--c-8 { color: var(--c-8); }

				&--vanilla {
					.CircularProgressbar-path { stroke: var(--c-1); }

					.rc-switch-checked {
						border-color: var(--c-1);
						background-color: var(--c-1);
					}
				}
			}

			.stat,
			.string {
				font-family: "Exo";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 4rem;
				line-height: 0;
				width: 100%;
				text-align: center;
				padding: 0;
				transition: color 1s;
			}

			.string { font-size: 3rem; }

			.mdi {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 4rem;
				line-height: 0;
				width: 100%;
				text-align: center;
				transition: color 1s;
				font-size: 5rem;
			}

			.CircularProgressbar {
				height: 100%;
				position: relative;
			}

			.CircularProgressbar-trail { stroke: var(--c-background); }

			.CircularProgressbar-path {
				transition: stroke 1s;
				stroke: currentColor;
			}

			.CircularProgressbar-text {
				font-family: "Exo";
				fill: var(--c-text);
			}

			.rc-switch-checked {
				border-color: currentColor;
				background-color: currentColor;
			}
		}

		.card-footer {
			height: var(--s-card-footer);
			padding: var(--s-padding);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			border: 1px solid transparent;

			.label {
				width: 100%;
				display: inline-block;
				padding-right: 20px;
				color: var(--c-text-sub);
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.badge {
				font-size: 105%;
				position: absolute;
				right: var(--s-padding);
				bottom: var(--s-padding);
				color: var(--c-text-sub);
				background-color: var(--c-background);
			}
		}
	}

	//	Type Overrides
	//--------------------------------------------------------//
	&--number {
		&.subtype--gauge .card .card-body {
			.gauge {
				position: absolute;
				top: -38%;
				left: calc(var(--s-padding) * 2);
				right: calc(var(--s-padding) * 2);
				bottom: 0;
			}
			.stat {
				top: 84%;
				font-size: 2rem;
			}
		}
	}

	&--image .card:before { display: none !important; }

	&--darksky .card .card-body {
		.mdi { top: 42%; }
		.stat {
			top: 90%;
			font-size: 2rem;
		}
	}
}
