//############################################################
//
//		Master Style File
//
//############################################################

//--------------------------------------------------------//
//	External Imports
//--------------------------------------------------------//

// TOOD: make local!
@import url("https://fonts.googleapis.com/css?family=Exo|Roboto:300,400,500");

//--------------------------------------------------------//
//	Internal Imports
//--------------------------------------------------------//
@import "_mixins.scss";
@import "~bootstrap-scss/bootstrap.scss";
@import "~@mdi/font/css/materialdesignicons.css";
@import '~react-circular-progressbar/dist/styles.css';
@import '~rc-switch/assets/index.css';
@import '~rc-slider/assets/index.css';

//--------------------------------------------------------//
//	Variables
//--------------------------------------------------------//
:root {
	--c-1: #2b3fad;
	--c-2: #6610f2;
	--c-3: #e83e8c;
	--c-4: #dc3545;
	--c-5: #fd7e14;
	--c-6: #ffc107;
	--c-7: #28a745;
	--c-8: #17a2b8;

	--c-scale-temp-0: #2b3fad;
	--c-scale-temp-1: #17a2b8;
	--c-scale-temp-2: #28a745;
	--c-scale-temp-3: #fd7e14;
	--c-scale-temp-4: #dc3545;

	--c-scale-goodbad-0: #28a745;
	--c-scale-goodbad-1: #ffc107;
	--c-scale-goodbad-2: #dc3545;

	--c-scale-badgood-0: #dc3545;
	--c-scale-badgood-1: #ffc107;
	--c-scale-badgood-2: #28a745;

	--c-foreground: #21273f;
	--c-background: #1c223a;
	--c-keyline: #2e333d;
	--c-text: #fff;
	--c-text-sub: #515a6c;

	--e-shine: rgba(255,255,255,0.01);
	--e-shadow-1: 0 0 10px 0 rgba(0,0,0,0.3);
	--e-shadow-2: 0 0px 16px 8px rgba(0,0,0,0.3);

	--s-width: 200px;
	--s-spacing: 20px;
	--s-padding: 8px;
	--s-rounded: 20px;

	--s-card-header: 35px;
	--s-card-footer: 35px;
}

//--------------------------------------------------------//
//	Components
//--------------------------------------------------------//
@import 'components/Tile.scss';

//--------------------------------------------------------//
//	Global Styles
//--------------------------------------------------------//
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 0.8rem;
	font-weight: 400;
	background-color: var(--c-background);
}

main {
	position: relative;
	width: 100%;
	height: 100%;
}

//--------------------------------------------------------//
//	Trumps
//--------------------------------------------------------//
._c--primary { color: var(--c-1) !important; }
